

#sub-page
    float left
    width 100%
    padding-top 30px
    text-align center
    h3
        color #f00
        font-size 24px
    p
        text-transform uppercase
        margin-top 15px
    a
        color #000
        text-decoration underline
        color blue
        margin-top 15px
        display inline-block