c1 = #0da195
c2 = #e7541e
c3 = #e3e3e3


body.active
    &::-webkit-scrollbar
        width 0px
        height 0px
        display none
        opacity 0

.null-data
    float left
    width 100%
    h4
        color #b9b9b9
        border-top 1px solid c3
        line-height 52px
        text-align center

.header
    width 100%
    position fixed
    left 0
    right 0
    background #0b564c
    padding 0 20px
    z-index 1
    display flex
    align-items center
    height 40px
    justify-content space-between
    .fr
        color #fff
        .min-menu
            cursor pointer

.slide-nav-menu
    float left
    position fixed
    right -400px
    width 400px
    top 40px
    bottom 0
    background #f1f1f1
    transition .15s
    z-index 2
    &.active
        right 0
    .but1
        height 40px
        width 100%
        float left
        color #fff
        font-size 16px
        background #228cb5
    .list
        ul
            li
                float left
                width 100%
                display flex
                align-items center
                padding 15px 20px
                span
                    margin-right 10px
.main
    float left
    width 100%
    padding-top 40px
    display flex
    .right-layout
        flex-grow 1
        flex-shrink 1
        background #fff
    &.active
        .right-layout
            display none


// 历史
.fund-list
    float left
    background #fff
    width 400px
    border-right 1px solid #e3e3e3
    border-bottom 1px solid #e3e3e3
    ul
        li
            float left
            width 100%
            border-top .5px solid #e3e3e3
            transition .1s
            padding 0 60px
            &:not(.first)
                span
                    font-family "myfont"
            &.first
                border-top none
                span
                    color #979797
            span
                float left
                width 33.33%
                text-align center
                line-height 2
                transition .1s
                color #383838
                &.red
                    color #e7541e
                &.green
                    color #0da195
                &.s1
                    width 40%
                    text-align left
                &.s2
                    width 30%
                &.s3
                    width 30%
                    text-align right

.search-wrapper
    float left
    height 26px
    .box
        float left
        height 100%
        input
            float left
            height 100%
            border none
            padding 0 10px
            border-radius 3px 0 0 3px
            width 150px
        button
            height 100%
            float left
            color #fff
            width 80px
            border-radius 0 3px 3px 0
            margin-right 10px
            transition .1s
            &.search
                background #e7541e
                &:active
                    background #c3400f
            &.radius
                border-radius 3px
                background #228cb5
                &:active
                    background #1a7598

    .fund-info
        float left
        height 100%
        ul
            float left
            li
                float left
                margin-left 10px
                span
                    float left
                    line-height 2
                    color #fff
                b
                    float left
                    line-height 2
                    color #fff
                    &.normal
                        color #999
                    &.red
                        color #e7541e
                    &.green
                        color #0da195


.font
    font-family "myfont"

.pointer
    cursor pointer

.sort-pages
    float left
    background #fff
    border-right 1px solid #e3e3e3
    width 850px
    flex-shrink 0
    min-height calc(100vh - 40px)
    ul
        li
            float left
            width 100%
            transition .1s
            border-top .5px solid #e3e3e3
            &:nth-child(2)
                border-top-color #fff
            .wrap
                display flex
            span
                float left
                height 26px
                display flex
                align-items center
                margin-left 15px
                justify-content center
                flex-shrink 0
                transition .1s
                strong
                    background c2
                    color #fff
                    padding 2px
                    margin-left 5px
                    border-radius 2px
                    font-weight normal
                    em
                        font-size 12px
                        transform scale(.8)
                        display block
                var
                    position relative
                    width 10px
                    &.select
                        &:after
                            top 50%
                            margin-top -2px
                            right 0
                            position absolute
                            content ''
                            border-right 4px solid transparent
                            border-left 4px solid transparent
                            border-top 6px solid #fff
            .s1
                flex-grow 1
                flex-shrink 1
                justify-content left
                margin-left 0
                padding 0 5px
                white-space nowrap
            .s2
                width 70px
            .s3
                width 60px
            .s4
                width 60px
            .s5
                width 60px
            &:hover
                background #eee
                cursor pointer
            &.first
                background c2
                border-top none
                span
                    color #fff
                    font-weight bold
                    &.s1
                        margin-left 21px
            &.active
                background c1
                border-top-color c1
                span
                    color #fff !important

            &[select="next"]
                border-top-color c1
            
            & > span
                margin-left 8px
    &.active
        width 100%
        border-right none
        zoom 2