.pub-border-no3 {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}
.pub-mt-10 {
  margin-top: 10px !important;
}
.pub-mt-15 {
  margin-top: 15px;
}
.pub-no-border {
  border: none !important;
  border-top: 1px solid #cdcdcd !important;
}
.pub-border-no4 {
  border: none !important;
}
.pub-mt-0 {
  margin-top: 0 !important;
}
.pub-border-wrap {
  border: 1px solid #cdcdcd !important;
  float: left;
  width: 100%;
}
.ico-font1 {
  background: url("../img/icon128.png") center no-repeat;
}
.ico-font2 {
  background: url("../img/icon103.png") center no-repeat;
}
.ico-font3 {
  background: url("../img/icon68.png") center no-repeat;
}
.ico-font4 {
  background: url("../img/icon119.png") center no-repeat;
}
.ico-font5 {
  background: url("../img/icon142.png") center no-repeat;
}
.ico-font7 {
  background: url("../img/icon110.png") center no-repeat;
}
.ico-font30 {
  background: url("../img/d8924283c440fab4_20x20.png") center no-repeat;
}
.ico-font31 {
  background: url("../img/11fa0700342de06e_20x14.png") center no-repeat;
}
.ico-font32 {
  background: url("../img/icon151.png") center no-repeat;
}
.ico-font33 {
  background: url("../img/icon44.png") center no-repeat;
}
.ico-font34 {
  background: url("../img/icon45.png") center no-repeat;
}
.ico-font35 {
  background: url("../img/icon51.png") center no-repeat;
}
.ico-font36 {
  background: url("../img/icon41.png") center no-repeat;
}
.ico-font37 {
  background: url("../img/icon50.png") center no-repeat;
}
.ico-font38 {
  background: url("../img/icon42.png") center no-repeat;
}
.ico-font39 {
  background: url("../img/7bb2abfea85c5a1a_20x13.png") center no-repeat;
}
.ico-font9 {
  background: url("../img/icon117.png") center no-repeat;
}
.ico-font54 {
  background: url("../img/icon159.png") center no-repeat;
}
.ico-font11 {
  background: url("../img/icon74.png") center no-repeat;
}
.ico-font57 {
  background: url("../img/icon100.png") center no-repeat;
}
.ico-font12 {
  background: url("../img/icon136.png") center no-repeat;
}
.ico-font8 {
  background: url("../img/icon144.png") center no-repeat;
}
.ico-font10 {
  background: url("../img/icon111.png") center no-repeat;
}
.ico-down {
  cursor: pointer;
  width: 20px;
  height: 100%;
  background: url("../img/ico6.png") center no-repeat;
  float: right;
  transition: 0.3s;
}
.ico-down.acti {
  transform: rotate(180deg);
}
.ico-font40 {
  background: url("../img/icon71.png") center no-repeat;
}
.ico-font41 {
  background: url("../img/icon72.png") center no-repeat;
}
.ico-font42 {
  background: url("../img/icon73.png") center no-repeat;
}
.ico-font43 {
  background: url("../img/icon74.png") center no-repeat;
}
.ico-font44 {
  width: 16px;
  height: 18px;
  background: url("../img/c15419658d65695f_16x18.png") center no-repeat;
}
.ico-font45 {
  background: url("../img/64f22d9039a7a2d3_16x18.png") center no-repeat;
  width: 16px;
  height: 18px;
}
.ico-font46 {
  background: url("../img/a8f9c66e7ea2f0de_18x18.png") center no-repeat;
}
.ico-font47 {
  background: url("../img/ce8c0f3919af85ce_18x11.png") center no-repeat;
}
.ico-font48 {
  background: url("../img/icon69.png") center no-repeat;
}
.ico-font49 {
  background: url("../img/02b4f_18x18.png") center no-repeat;
}
.ico-font49 {
  background: url("../img/icon70.png") center no-repeat;
}
.ico-font50 {
  background: url("../img/2b8f5_25x21.png") center top no-repeat;
  background-size: cover;
  width: 25px;
  height: 21px;
}
.ico-font51 {
  background: url("../img/4ed53_18x18.png") center no-repeat;
}
.ico-font52 {
  background: url("../img/6c6b4_16x16.png") center no-repeat;
}
.ico-menu {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-top: -2px;
  background: url("../img/icon65.png") center top no-repeat;
  background-size: cover;
}
.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.swiper-pagination span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  margin: 0 3px;
}
.swiper-pagination span.swiper-pagination-bullet-active {
  opacity: 1;
  filter: alpha(opacity=100);
}
