
.title
    background #f60
    color #fff
    padding 30px 10px

    
.c1
    background red
.c2
    background green
.c3
    background blue

.abc1
    background red
    
.input-wraps
    input
        height 36px
        width 50%
        font-size 18px

.wrap1
    width 100%
    height 60px
    background #f60

.abc2
    animation aaa 600ms cubic-bezier(0.22, 0.61, 0.36, 1) both
    background #ccc
    transform translate(100%, 0)

.slideInOut-enter-done
    animation aaa1 600ms cubic-bezier(0.22, 0.61, 0.36, 1) both
    background red

@keyframes aaa
    0%
        transform translate(100%, 0)
    100%
        transform translate(0, 0)

@keyframes aaa1
    0%
        transform translate(0, 0)
    100%
        transform translate(100%, 0)
