
.title
    background #f60
    color #fff
    padding 30px 10px

    
.c1
    background red
.c2
    background green
.c3
    background blue

.abc1
    background red
    
.input-wraps
    input
        height 36px
        width 50%
        font-size 18px

.wrap1
    width 100%
    height 60px
    background #f60