button
    border none
    outline none
    width 130px
    height 45px
    color #fff
    transition .2s cubic-bezier(0.86, 0.02, 0.1, 1.01)
    cursor pointer
    
.c1
    background red
    &:active
        background #ccc

.c2
    background green
    &:active
        background #ccc

.input-wrap
    input
        height 36px
        width 50%
        font-size 18px
